    <div class="table-responsive">
      <table class="table table-vcenter">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Title</th>
            <th>Lab Name</th>
            <th>Test Price</th>
            <th class="w-1">Current Status/Actions</th>
          </tr>
        </thead>
        {% for order in  orders  %}
        <tbody>
          <tr>
            <td colspan="5" class="text-dark">
              <h5 class="mb-0">Order Id: {{order.id}} By <i class="text-muted">{{order.user.get_full_name}}</i>(<span class="text-blue">{{order.user.username}}</span> ) </h5>
              <span class="text-secondary" >{{order.paid}}</span>
            </td>
            {% if order.items.count > 0 %}
            {% for item in order.items.all %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td class="text-dark">
              {{item.name}} 
            </td>
            <td class="text-secondary"> {{item.user.get_full_name}} </td>
            <td class="text-secondary">
              ₹ {{item.price}} 
            </td>
            <td>
            {{item.}}
            {% if order.is_completed %}
            <span class="badge bg-green">Completed</span>
            <BR>
              <a href="{{order.attachment.url}}"  download target="_blank" class="text-link">Download Attactment</a>
            {% else %}
            <span class="badge bg-yellow">Pending</span>
              <BR>
                          <a href="{% url 'labs:complete_order' order.id %}"  class="text-link">Complete Order</a>


            {% endif %}


            </td>
          </tr>
        </tbody>
          {% endfor %}
        {% endif %}
        {% endfor %}
      </table>
    </div>