
{% extends "base.html" %}
{% block page_content %}
<div class="empty">
  <div class="empty-header">Testto</div>
  <p class="empty-title">Test at touch</p>
  <p class="empty-subtitle text-secondary">
    Testto is a platform that allows you to book for a test at the comfort of your home. 
  </p>
            <div class="btn-list justify-content-center mb-3">
              <a href="{% url 'users:signup-user' %}" class="btn">Register As User</a>
              <a href="{% url 'users:signup-lab' %}" class="btn btn-primary">Register As Lab</a>
              
            </div>
              <a href="{% url 'account_login' %}" class="btn btn-outline-primary px-4">Login</a>
</div>


{% endblock page_content %}